.react-datepicker {
    border: none !important;
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.3) !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: #fff !important;
    font-weight: bold;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: #222327 !important;
    color: #fff !important;
}

.react-datepicker__day:hover {
    background-color: #222327 !important;
    color: #fff !important;
}

.react-datepicker__header {
    border-radius: 1rem 5rem 0 0 !important;
    border-bottom: 1px solid #222327 !important;
}

.react-datepicker,
.react-datepicker__month-container {
    border-radius: 0.7rem !important;
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__month-container {
    align-self: center !important;
    background-color: #131314 !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
    color: #fff !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
    display: none !important;
}

.react-datepicker__navigation-icon--previous,
.react-datepicker__navigation-icon--next {
    margin-top: 0.7rem !important;
}